.information-admin{
    color: #313131;
    margin-top: 5px;
    font-size: 16px;
}
.label-infor{
    color: #888888 !important;
}
.infor-center{
    margin: 0 !important;   
}
.trang-thai{
    margin: 30px 0;
}
.infor-bottom{
    margin-top: 30px;
}
.infor-title{
    margin: 30px 0;

}