
@media screen and (min-width:1440px) {
  .login {
    height: 100vh !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    .img-login {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .form-login {
      width: 50%;
      padding: 0 100px;
      h1{
          font-weight: 600;
          font-size: 32px;
          line-height: 140%;
      }
      label {
        font-size: 14px;
        color: #333;
      }
      input::placeholder {
        color: #989898;
        font-size: 14px;
      }
      .check-label {
        margin-bottom: 30px;
      }
      .check-label:checked{
        background-color: red;
      }
   
      .submit-login {
        width: 100%;
        background-color: $primary-color;
        box-shadow: 0px 2px 6px rgba(28, 73, 143, 0.08);
        border-radius: 6px;
        &:hover{
          background-color: $secondary-color;
        }
      }
    }
  }
}

input[type='checkbox'] {
  accent-color: $primary-color;
}
