*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    padding: 0;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
    min-width: 1440px;
    margin: 0 auto;
}
button{
    &:hover,&:focus{
        outline: none !important;
    }
}